<h1 class="text-center">
    <%= @student.new_record? ? "Sign up" : "Edit your profile" %>
</h1>

<%= render "shared/errors", obj: @student %>

<%= form_for @student do |f| %>
    <div class="mb-3" >
        <%= f.label :name, class: "form-label" %>
        <%= f.text_field :name, class: "form-control", placeholder: "Enter your name..." %>
    </div>
    <div class="mb-3" >
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, class: "form-control", placeholder: "Enter your email..." %>
        <div class="form-text">
            Your email can't be longer than 105 characters.
        </div>
    </div>
    <div class="mb-3" >
        <%= f.label :password, class: "form-label" %>
        <%= f.password_field :password, class: "form-control", placeholder: "Enter a password..." %>
    </div>
    <div class="mb-3" >
        <%= f.label :password_confirmation, class: "form-label" %>
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm your password..." %>
    </div>
    <%= f.submit(@student.new_record? ? "Sign up" : "Update", class: "btn btn-primary") %>
<% end %>